body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  background-image: url('../img/bg.jpg');
 background-position: center top;
  background-repeat: no-repeat;
  background-color: #000000;
  height: 100vh;
}

.navbar {
  color: #DA7E25;
  opacity: .75;
}
